body {
  background-color: #001f3f;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.header-section {
  background-color: #100d28 !important;
  color: #ffffff;
  padding: 0 !important;
}

.header-section .container {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.header-section img {
  height: 350px;
}

#tech-header {
  width: 100%;
  height: auto;
  overflow: hidden;
}

#tech-header img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0;
  margin: 0;
}

#tech-header .overlay-text h1 {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5vw !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.navbar {
  background-color: #001a33;
}

.navbar-brand {
  font-size: 1.8rem !important;
  text-shadow: 4px 4px 6px rgb(22, 72, 141);
  letter-spacing: 4px;
  font-weight: 600;
}

.nav-link,
.navbar-brand {
  color: #ffffff;
}

.nav-link.active {
  color: #ffffff !important;
  font-size: 1.1rem;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.nav-link:hover,
.navbar-brand:hover {
  color: #cccccc;
}

.nav-item .disabled {
  color: #777777;
}

.header-section {
  background-color: #001f3f;
  padding: 40px 0;
}

.about-section {
  background-color: #ffffff;
  padding: 40px 0;
}

/* About Section Styles */
.about-section h2 {
  color: #001a33;
}

.about-section p {
  color: #666666;
}

.about-img-container {
  display: flex;
  align-items: stretch;
}

/* Technologies Section */
.tech-section {
  background-color: #ffffff;
  padding: 60px 15px;
  color: #001a33;
}

/* Scrolling Icons Container */
.scrolling-tech-icons-container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

/* Scrolling Icons */
.scrolling-tech-icons {
  display: flex;
  width: calc(200% + 40px);
  animation: scrollIcons 30s linear infinite;
}

.icon-wrapper {
  display: flex;
}

@keyframes scrollIcons {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Icon Styles */
.tech-icon {
  display: inline-block;
  margin: 0 20px;
  text-align: center;
}

.tech-icon img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.tech-icon span {
  display: block;
  font-size: 16px;
  color: #001a33;
  margin-top: 5px;
}

.tech-icon img:hover {
  transform: scale(1.2);
}

/* Icon Styles */
.tech-icon {
  display: inline-block;
  margin: 0 20px; /* Adjust margin as needed */
  text-align: center;
}

.tech-icon img {
  width: 80px; /* Adjust icon size as needed */
  height: 80px; /* Adjust icon size as needed */
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.tech-icon span {
  display: block;
  font-size: 16px;
  color: #001a33;
  margin-top: 5px;
}

.tech-icon img:hover {
  transform: scale(1.2);
}

/* The rest of your CSS remains the same */
.tech-icon {
  display: inline-block;
  margin: 0 20px;
  text-align: center;
}

.tech-icon img {
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.tech-icon span {
  display: block;
  font-size: 16px;
  color: #001a33;
  margin-top: 5px;
}

.tech-icon img:hover {
  transform: scale(1.2); /* Slightly enlarge icon on hover */
}

/* Specific CSS for the About section image */
.about-img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

/* Base Styles */

.industries-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.industries-section .card {
  height: 250px;
  position: relative;
  overflow: hidden;
}

.industries-section .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.industries-section .card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
}

.industries-section .card-title {
  font-size: 1.25rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* Hover Effects */
.industries-section .card:hover .card-img {
  transform: scale(1.1);
}

.industries-section .card:hover .card-img-overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Tech Used Styles */

.skill-section-heading {
  margin-top: 30px;
}

.image-margin-bottom {
  margin-bottom: 30px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 20px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(-180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card-front {
  background-color: #163656;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 20px;
  border-radius: 10px;
}

.flip-card-back {
  background-color: #001a33;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.flip-card-back p {
  margin-bottom: 10px;
}

.learn-more-btn {
  margin-top: auto;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.learn-more-btn:hover {
  background-color: #0056b3;
}

.flip-card-front i {
  font-size: 50px;
  margin-bottom: 10px;
}

/* Modal Styling */
.modal-content {
  background-color: #001f3f;
  color: white;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
}

.modal-header {
  border-bottom: 1px solid #004080;
}

.modal-title {
  font-size: 1.8rem;
  color: #00bfff;
}

.modal-body {
  font-size: 1.1rem;
  color: #cccccc;
}

.modal-footer {
  border-top: 1px solid #004080;
}

.btn-close {
  background-color: transparent;
  border: none;
  color: #cccccc;
}

.btn-close:hover {
  color: white;
}

.modal-footer .btn-secondary {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.modal-footer .btn-secondary:hover {
  background-color: #0056b3;
}

/* Services Styles */

.btn-services {
  margin-top: auto;
}

.service-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: auto 20px;
  display: flex;
  flex-direction: column;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-title {
  color: #001a33;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.service-divider {
  border: 1px solid #001a33;
  margin: 15px 0;
}

.service-text {
  color: #000;
}

/* Footer */

.footer {
  background-color: #001a33;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

.footer h5 {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer p,
.footer li,
.footer a {
  color: #cccccc;
  font-size: 14px;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.footer ul {
  list-style-type: none;
  padding-left: 0;
}

.footer .fa {
  color: #ffffff;
  margin-right: 10px;
}

.footer .social-icons a {
  color: #ffffff;
  font-size: 20px;
  margin-right: 15px;
  transition: color 0.3s;
}

.footer .social-icons a:hover {
  color: #ffffff;
}

.footer .copyright {
  margin-top: 20px;
  border-top: 1px solid #004080;
  padding-top: 20px;
  color: #cccccc;
  font-size: 14px;
}

/* Footer Links */
.footer-link {
  color: #cccccc;
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

.footer-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #ffc107;
  left: 0;
  bottom: -5px;
  transition: width 0.3s ease;
}

.footer-link:hover {
  color: #ffffff;
}

.footer-link:hover::after {
  width: 100%;
}
